<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somplace.dao.mybatis.mapper.MemberMeetingMapper">
	<cache/>
	
	<!-- 회원 리스트 조회 -->
	<select resultType="String" id="findJoinMemberIdList">
		SELECT ID
		FROM MEMBER_MEETING
		WHERE meetingId=#{meetingId} AND apply=0
	</select>
	
	<!-- 신청자 리스트 조회 -->
	<select resultType="String" id="findApplyMemberIdList">
		SELECT ID
		FROM MEMBER_MEETING
		WHERE meetingId=#{meetingId} AND apply=1
	</select>
	
	<!-- 내가 속한 모임 아이디 조회 -->
	<select resultType="Integer" id="getMyJoinMeetingId">
		SELECT MEETINGID
		FROM MEMBER_MEETING
		WHERE apply = 0 AND ID = #{memberId} 
	</select>
	
	<!-- 내가 찜한 모임 아이디 조회 -->
	<select resultType="Integer" id="getMyLikeMeetingId">
		SELECT MEETINGID
		FROM MEMBER_MEETING
		WHERE heart = 1 AND ID = #{memberId} 
	</select>
	
	<!-- 내가 신청한 모임 아이디 조회 -->
	<select resultType="Integer" id="getMyApplyMeetingId">
		SELECT MEETINGID
		FROM MEMBER_MEETING
		WHERE apply = 1 AND ID = #{memberId} 
	</select>
</mapper>